@model List<BookShop2020.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Список книг</h2>

<form method="get">
    <div>
        <label>Разделы: </label>
        @Html.DropDownList("categoryId", ViewBag.Genres as SelectList)
        <input type="submit" value="Фильтр" />
    </div>
</form>

@for (int i = 0; i < Model.Count; i += 3)
{
  <div class="row justify-content-around">
     <div class="col-md-auto">
     <div class="card">
         <img src="@Url.Content("~/Images/")@Model[i].ImageUrl" class="smallImg card-img-top" alt="Обложка"/>
         <ul class="list-group list-group-flush">
             <li class="list-group-item">@Model[i].Author</li>
             <li class="list-group-item">@Model[i].Name</li>
             <li class="list-group-item">@Model[i].Price</li>
         </ul>
         <a href="#" class="btn btn-primary"> @Html.RouteLink("В корзину",
                                                      new {controller = "Cart", action = "Add", bookId = @Model[i].Id})</a>
         </div>
     </div>
     @if ((i + 1) < Model.Count)
     {
            <div class="col-md-auto">
                <div class="card">
                    <img src="@Url.Content("~/Images/")@Model[i+1].ImageUrl" class="smallImg card-img-top" alt="Обложка"/>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@Model[i+1].Author</li>
                        <li class="list-group-item">@Model[i+1].Name</li>
                        <li class="list-group-item">@Model[i+1].Price</li>
                    </ul>
                    <a href="#" class="btn btn-primary"> @Html.RouteLink("В корзину",
                                                             new {controller = "Cart", action = "Add", bookId = @Model[i+1].Id})</a>
                </div>
            </div>

        }
     @if ((i + 2) < Model.Count)
     {
         <div class="col-md-auto">
             <div class="card">
                 <img src="@Url.Content("~/Images/")@Model[i+2].ImageUrl" class="smallImg card-img-top" alt="Обложка"/>
                 <ul class="list-group list-group-flush">
                     <li class="list-group-item">@Model[i+2].Author</li>
                     <li class="list-group-item">@Model[i+2].Name</li>
                     <li class="list-group-item">@Model[i+2].Price</li>
                 </ul>
                 <a href="#" class="btn btn-primary"> @Html.RouteLink("В корзину",
                                                          new {controller = "Cart", action = "Add", bookId = @Model[i+2].Id})</a>
             </div>
         </div>

     }
    </div>
}
