@model List<BookShop2020.Models.Book>
@using System;

@{
    ViewBag.Title = "Index";
}

<h2>Список книг</h2>

<form method="get">
    <div>
        <label>Разделы: </label>
        @Html.DropDownList("categoryId", ViewBag.Genres as SelectList)
        <input type="submit" value="Фильтр" />
    </div>
</form>

<div class="justify-content-around" style="display: flex; flex-wrap: wrap">
    @foreach (var t in Model)
    {
        <div class="col-md-auto">
            <div class="card my-1 border-0" style="width: 14rem;">
                <img src="@Url.Content("~/Images/")@t.ImageUrl" class="smallImg card-img-top" alt="Обложка" />
                <div class="card-body">
                    <h5 class="card-title">@Math.Truncate(t.Price)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@t.Name</h6>
                    <h6 class="card-subtitle mb-2 text-muted">@t.Author</h6>
                    <p class="card-text">@t.Genre.Name </p>
                    @Html.RouteLink("В корзину",
                            new {controller = "Cart", action = "Add", bookId = t.Id}, new { @class="btn btn-secondary" })
                </div>
            </div>
        </div>
    }
</div>       
