@using BookShop2020.Models;
@model List<BookShop2020.Models.ReviewViewModel>

@{
    ViewBag.Title = "ViewBookReviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
    <h2 align="center"> Информация о книге</h2>
<br/>
<div class="container">
<div class="row">
    <div class=" offset-2 col-3">
        @{ Book book = ViewBag.Book; }
        <div class="card my-1 border-0" style="width: 14rem;">
            <img src="@Url.Content("~/Images/")@book.ImageUrl" class="smallImg card-img-top" alt="Обложка" />
            <div class="card-body">
                <h5 class="card-title">@book.Price p.</h5>
                <h6 class="card-subtitle mb-2 text-muted">@book.Name</h6>
                <h6 class="card-subtitle mb-2 text-muted">@book.Author</h6>
                <p class="card-text">@book.Genre.Name </p>
                @Html.RouteLink("В корзину",
                    new {controller = "Cart", action = "Add", bookId = book.Id}, new { @class="btn btn-secondary" })
            </div>
        </div>
    </div>
    <div class="col-5">
    @foreach (var t in Model)
    {
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">@t.Name @t.LastName</h6>
                <p class="card-text"> @t.Text</p>
            </div>
        </div>
    }
    </div>
</div>
</div>